
h1 {
	padding-bottom: 20px !important;
}

body {
	padding-top: 50px !important;
}

#code {
	font-family: "Lucida Console", Courier, monospace !important;
}

#Mybrand{
	font-family: "Times New Roman", Times, serif !important;
	font-weight: bold !important;
	font-variant: small-caps !important;
	color: #b3b3ff !important;
}

.jumbotron .container p {
	line-height: 200% !important;	
}

